<h1>Attribute Directives</h1>
<p [ngClass]="style">Angular attribute directives are a number of built-in directives that we can add to our HTML elements that give them a dynamic behavior. In summary, an attribute directive changes the appearance or behavior of a DOM element.</p>
<button (click)="changeClass()">Change</button>

<h1 [ngStyle]="{'background': backgroundColor, 'color': fontColor}">Angular Course</h1>
<br>
<ng-content select="h2"></ng-content>
<ng-content select="p"></ng-content>
<br>
<h2>Shop List</h2>
<p>Add item:</p>
<input type="text" id="item" [(ngModel)]="item" />
<button (click)="addList()">ADD</button>
<ul>
  <li *ngFor="let elem of list">{{ elem }}</li>
</ul>
<hr>
<ng-template [ngIf]="isEnableBlock">
  <a href="#">Add Cart</a>
</ng-template>
<br>
<ng-template [ngIf]="isEnableBlock">
  <a href="#">End Shopping</a>
</ng-template>